<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970567313393-9cfq6s4rfgn99glms5tkb8djdpg6reci.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970567313393-9cfq6s4rfgn99glms5tkb8djdpg6reci</string>
	<key>API_KEY</key>
	<string>AIzaSyAUDx4WjSK_5CqTEv64JLAsHxN4lGUvjIc</string>
	<key>GCM_SENDER_ID</key>
	<string>970567313393</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizApp</string>
	<key>PROJECT_ID</key>
	<string>quizapp-2bb8a</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapp-2bb8a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970567313393:ios:907984ba411bf510310650</string>
</dict>
</plist>